@media  (max-width: 600px) {
  .footer {
    font-size: 10px;
    padding: 3px;;
  }
  
  .header {
    margin-left: auto;
  }
  .header h1{
    font-size: small;
  }

  .header button {
    width: 80px;
    height: 25px;
    font-size: smaller;
  }

  .sidebar {
    width: 100px;
    padding-top: 10px;
  }

  .sidebar button {
    width:50px;
    height: 20px;
    font-size: 10px;
    
  }



  

} 




@media (min-width: 601px) and (max-width: 1200px) {
  .footer{
    font-size: 15px;
    padding: 5px;
  }
  
  .header{
    margin-left: 49px;
  }
  .header h1 {
    font-size: medium;
  }

  .header button {
    font-size: 13px;
    width: 80px;
    height: 30px;
  }

  .sidebar {
    width: 150px;
    padding-top: 15px;
  }
  
}



@media (min-width:401px) and (max-width:600px) {
  table {
    width: 400px;
    margin-left: 120px;
  }
  .header-item {
    font-size: 12px;
  }
  .book-title, .book-author, .book-genre, .book-publication-data {
    font-size: 12px;
  }
  .book-actions button {
    font-size: 10px;
  }
}


@media (min-width: 601px) and (max-width: 650px) {
  table {
    width: 445px;
    margin-left: 140px;
  }
  .header-item {
    font-size: 14px;
  }
  .book-title, .book-author, .book-genre, .book-publication-data {
    font-size: 14px;
  }
  .book-actions button {
    font-size: 12px;
  }
}

@media (min-width: 651px) and (max-width: 700px) {
  table {
    width: 490px;
    margin-left: 145px;
  }
  .header-item {
    font-size: 16px;
  }
  .book-title, .book-author, .book-genre, .book-publication-data {
    font-size: 14px;
  }
  .book-actions button {
    font-size: 14px;
  }
}

@media (min-width: 701px) and (max-width: 750px) {
  table {
    width: 535px;
    margin-left: 150px;
  }
  .header-item {
    font-size: 16px;
  }
  .book-title, .book-author, .book-genre, .book-publication-data {
    font-size: 14px;
  }
  .book-actions button {
    font-size: 14px;
  }
}

@media (min-width: 751px) and (max-width: 800px) {
  table {
    width: 580px;
    margin-left: 155px;
  }
  .header-item {
    font-size: 16px;
  }
  .book-title, .book-author, .book-genre, .book-publication-data {
    font-size: 14px;
  }
  .book-actions button {
    font-size: 14px;
  }
}

@media (min-width: 801px) and (max-width: 850px) {
  table {
    width: 625px;
    margin-left: 160px;
  }
  .header-item {
    font-size: 16px;
  }
  .book-title, .book-author, .book-genre, .book-publication-data {
    font-size: 14px;
  }
  .book-actions button {
    font-size: 14px;
  }
}

@media (min-width: 851px) and (max-width: 900px) {
  table {
    width: 670px;
    margin-left: 155px;
  }
  .header-item {
    font-size: 16px;
  }
  .book-title, .book-author, .book-genre, .book-publication-data {
    font-size: 14px;
  }
  .book-actions button {
    font-size: 14px;
  }
}

@media (min-width: 901px) and (max-width: 950px) {
  table {
    width: 705px;
    margin-left: 140px;
  }
  .header-item {
    font-size: 16px;
  }
  .book-title, .book-author, .book-genre, .book-publication-data {
    font-size: 14px;
  }
  .book-actions button {
    font-size: 14px;
  }
}

@media (min-width: 951px) and (max-width: 1000px) {
  table {
    width: 750px;
    margin-left: 120px;
  }
  .header-item {
    font-size: 16px;
  }
  .book-title, .book-author, .book-genre, .book-publication-data {
    font-size: 15px;
  }
  .book-actions button {
    font-size: 14px;
  }
}

@media (min-width: 1001px) and (max-width: 1050px) {
  table {
    width: 770px;
    margin-left: 100px;
  }
  .header-item {
    font-size: 16px;
  }
  .book-title, .book-author, .book-genre, .book-publication-data {
    font-size: 15px;
  }
  .book-actions button {
    font-size: 14px;
  }
}

@media (min-width: 1051px) and (max-width: 1100px) {
  table {
    width: 840px;
    margin-left: 80px;
  }
  .header-item {
    font-size: 16px;
  }
  .book-title, .book-author, .book-genre, .book-publication-data {
    font-size: 15px;
  }
  .book-actions button {
    font-size: 14px;
  }
}


@media (min-width: 1101px) and (max-width: 1150px) {
  table {
    width: 880px;
    margin-left: 60px;
  }
  .header-item {
    font-size: 16px;
  }
  .book-title, .book-author, .book-genre, .book-publication-data {
    font-size: 15px;
  }
  .book-actions button {
    font-size: 14px;
  }
}

@media (min-width: 1151px) and (max-width: 1200px) {
  table {
    width: 920px;
    margin-left: 40px;
  }
  .header-item {
    font-size: 16px;
  }
  .book-title, .book-author, .book-genre, .book-publication-data {
    font-size: 15px;
  }
  .book-actions button {
    font-size: 14px;
  }
}

@media (min-width: 1201px) {
  table {
    width: 960px;
    margin-left: 20px;
  }
  .header-item {
    font-size: 17px;
  }
  .book-title, .book-author, .book-genre, .book-publication-data {
    font-size: 15px;
  }
  .book-actions button {
    font-size: 14px;
  }
}


@media (min-width:250px) and (max-width: 400px) {
  table {
    width: 170px;
    margin-left: 87px;
  }
  .header-item {
    font-size: 10px;
  }
  .book-title, .book-author, .book-genre, .book-publication-data {
    font-size: 10px;
  }
  .book-actions button {
    font-size: 8px;
  }

}

